urls-source "freshrss"
freshrss-url "{{ (passFields "intranet/freshrss").url }}/api/greader.php"
freshrss-login "{{ (passFields "intranet/freshrss").user }}"
freshrss-passwordeval "pass show passphrase/default"
freshrss-min-items 100
freshrss-flag-star "s"

#color listnormal         color15 default
#color listnormal_unread  color2  default
#color listfocus_unread   color2  color15
#color listfocus          default color15
#color background         default default
#color article            default default
#color end-of-text-marker color8  default
#color info               color4  color7
#color hint-separator     default color7
#color hint-description   default color7
#color title              color14 color7
#
#highlight article "^(Feed|Title|Author|Link|Date): .+" color4 default bold
#highlight article "^(Feed|Title|Author|Link|Date):" color14 default bold
#
#highlight article "\\((link|image|video)\\)" color8 default
#highlight article "https?://[^ ]+" color4 default
#highlight article "\[[0-9]+\]" color6 default bold

# Newsboat colour scheme to work with the Nord palette
# from Arctic Studios - https://github.com/arcticicestudio/nord
# Tested with the Nord kitty terminal colour palette
# Though should work with any terminal using the palette

#color background          color15    default
#color listnormal          color248   default
#color listnormal_unread   color4     default
#color listfocus           color0     color4
#color listfocus_unread    color0     color4   bold
#color info                color12    color0
#color article             color248   default
#
## highlights
#highlight article "^(Feed|Link):.*$" color6 default bold
#highlight article "^(Title|Date|Author):.*$" color6 default bold
#highlight article "^(Titel|Datum|Autor):" color6 default bold
#highlight article "https?://[^ ]+" color10 default underline
#highlight article "\\[[0-9]+\\]" color10 default bold
#highlight article "\\[image\\ [0-9]+\\]" color10 default bold
#highlight feedlist "^─.*$" color6 color0 bold

auto-reload yes
reload-time 5 # minutes
reload-threads 10

bind-key LEFT quit
bind-key RIGHT open
bind-key j down
bind-key k up
bind-key h quit
bind-key l open
bind-key d pagedown
bind-key u pageup
bind-key U show-urls

browser linkhandler
