#!/usr/bin/env bash
set -eufo pipefail

# packages.yaml hash: {{ include (joinPath .chezmoi.sourceDir ".chezmoidata/packages.yaml") | sha256sum }}
sudo apt update
sudo apt install -y {{ range .packages.linux.debian.apt }} {{ . }}{{ end }}
