[Desktop Entry]
Name=Freetube
Comment=An Open Source YouTube app for privacy
Exec=env GDK_SCALE=1 freetube
Keywords=video;youtube;
Icon=freetube
Type=Application
Terminal=false
StartupNotify=true
Categories=AudioVideo;Player;
StartupWMClass=Joplin
