[Desktop Entry]
Name=NormCap
Comment=OCR-powered screenshot tool to capture text instead of images
Exec=normcap
Keywords=screenshot;ocr;capture;
Icon=NormCap
Type=Application
Terminal=false
StartupNotify=true
Categories=Utility;
StartupWMClass=NormCap
